In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('supermarkets.csv')

df.head()

                               name  price store  nominal_price
0                  English Cucumber  $2.49  Maxi           2.49
1                       Green Onion  $1.79  Maxi           1.79
2     Farmer's Market Yellow Onions  $2.99  Maxi           2.99
3  Tomato On The Vine Red (1 Bunch)  $5.46  Maxi           5.46
4                     Celery Stalks  $3.49  Maxi           3.49

In [16]:
df[df['name'] == "Tomato On The Vine Red (1 Bunch)"]

                                   name  price    store  nominal_price
3      Tomato On The Vine Red (1 Bunch)  $5.46     Maxi           5.46
10851  Tomato On The Vine Red (1 Bunch)  $3.12  Super C           3.12
23273  Tomato On The Vine Red (1 Bunch)  $5.46  Provigo           5.46

In [7]:
name_counts = df.groupby('name')['store'].nunique()
duplicated_names = name_counts[name_counts > 1].index

# Filter the DataFrame
filtered_df = df[df['name'].isin(duplicated_names)]

In [19]:
filtered_df.head(25)

,name,price,store,nominal_price
0,English Cucumber,$2.49,Maxi,2.49
1,Green Onion,$1.79,Maxi,1.79
2,Farmer's Market Yellow Onions,$2.99,Maxi,2.99
3,Tomato On The Vine Red (1 Bunch),$5.46,Maxi,5.46
4,Celery Stalks,$3.49,Maxi,3.49
5,Broccoli,$2.99,Maxi,2.99
6,Lettuce Iceberg,$2.99,Maxi,2.99
8,Red Peppers,$2.64,Maxi,2.64
9,Cauliflower,$4.99,Maxi,4.99
10,"Romaine Heart, 3 Pack",$4.99,Maxi,4.99
11,Roma Tomatoes,$0.53,Maxi,0.53
12,Farmer's Market Carrots,$3.99,Maxi,3.99
13,Sweet Potato,$2.49,Maxi,2.49
14,Tomato Beefsteak Red,$1.77,Maxi,1.77
15,Zucchini,$1.85,Maxi,1.85
16,Ginger,$1.38,Maxi,1.38
17,Sweet Green Peppers,$2.46,Maxi,2.46
18,Red Onion,$2.03,Maxi,2.03
19,No Name Naturally Imperfect Mixed Sweet Pepper...,$6.00,Maxi,6.00
20,Broccoli Crown,$2.99,Maxi,2.99
21,"Rooster Garlic Bulbs, 3-count",$0.99,Maxi,0.99
22,President's Choice Whole White Mushrooms,$2.99,Maxi,2.99
23,"Pumpkin, Large",$3.99,Maxi,3.99
24,Farmer's Market Yellow Potato 10lb Bag,$6.99,Maxi,6.99
25,Colossal Garlic,$1.54,Maxi,1.54

In [31]:
df[df['name'] == 'Roma Tomato']

Empty DataFrame
Columns: [name, price, store, nominal_price]
Index: []